
/* -------------Homepage--------------- */


/* Hamburger Menu */

#menu a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menu a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #232323;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #b8b8b8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* Body & Titel */

body {
    font-family: Arial, serif;
    background-color: lightgray;
}

.überTitel {
}

/* Boxen */

input {
    background-color: #e5e5e5;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

input:hover {
    background-color: #c4c4c4;
}

input:focus {
    background-color: #fafafa;
}

input:active {
    transform: scale(1.1,1.1);
}

select {
    background-color: #e5e5e5;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

select:hover {
    background-color: #c4c4c4;
}

select:focus {
    background-color: #fafafa;
}

select:active {
    transform: scale(1.1,1.1);
}

.benutzerName {
    border: black solid 1px;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

.benutzerName:active {
    transform: scale(1.1,1.1);
}

.passWort {
    border: black solid 1px;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

.passWort:active {
    transform: scale(1.1,1.1);
}

.Titel {
    border: black solid 1px;
    margin-left: 40px;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

.Adresse {
    border: black solid 1px;
    margin-left: 11px;
    margin-top: 5px;
    border-radius: 40px;
    transition: all .1s ease-in-out;
}

.Titel:active {
    transform: scale(1.1,1.1);
}

.Adresse:active {
    transform: scale(1.1,1.1);
}

.Titel:hover {
    margin-left: 40px;
    border-radius: 40px;
}

.Adresse:hover {
    margin-left: 11px;
    border-radius: 40px
}

.Titel:focus {
    margin-left: 40px;
    border-radius: 40px;
}

.Adresse:focus {
    margin-left: 11px;
    border-radius: 40px
}

.UIconP {
    font-weight: bold;
    margin-bottom: -2px;
}

.Untertitel {
    font-weight: bold;
}

h1 {
    
}

.Checkboxing {
    display: inline-block;
}

.Boxing {
    border: 2px solid darkslategrey;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 15px 5px;
}

.ulParagraph {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ulParagraph li p {
    display: inline-block;
    margin-right: 70px;
    margin-bottom: 5px;
}

.Submit {
    font-weight: bold;
    margin-left: 10px;
    transition: all .1s ease-in-out;
}

.Submit:active {
    background-color: #6ab2b2;
    transform: scale(1.1,1.1);
}


/* -------------Login--------------- */


.überTitelLogin {
    display: flex;
    align-content: center;
}