<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "MyApp/style.css" %}">
    <script src="{% static "MyApp/base.js" %}"></script>
    <title>Enter new password</title>
</head>
<body id="Body" class="signupBody">

    <h1 class="überTitelLogin">Set a new password!</h1>
    <form method="POST" class="Boxing" id="signupBox">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="loginButton" type="submit" value="Change my password">
    </form>

</body>
</html>