<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "MyApp/style.css" %}">
    <script src="{% static "MyApp/base.js" %}"></script>
    <title>WebCron</title>
</head>
<body>

<h1 class="überTitel">Cron-Job erstellen</h1>

<form action="{% url 'submit' %}" method="post">
    {% csrf_token %}
    <div class="Boxing">
    <p class="Untertitel">Titel, Adresse</p>
        Titel: <input type="text" name="Titel" class="Titel" required> <br>
        Adresse: <input type="url" name="Adresse" value="https://" class="Adresse" required>
    </div>

    <div class="Boxing">
        <p class="UIconP"><input type="checkbox" name="UIcon" class="UIcon" id="myCheck" onclick="myFunction()"> Erfordert HTTP-Authentifizierung </p>
        <div id="text" style="display:none">
            <ul class="ulParagraph">
              <li>
                <div class="lineParagraph">
                    <p>Benutzername:</p>
                    <p>Passwort:</p>
                </div>
              </li>
            </ul>
            <input type="text" name="Benutzername" class="benutzerName" id="Benutzername">
            <input type="password" name="Passwort" class="passWort" id="Passwort">
        </div>
    </div>

    <div class="Boxing">
    <p class="Untertitel">Ausführung</p>
        <input type="radio" name="Ausführung" value="Alle 'Zahl' Minute(n)" required> Alle <select>
                <option value="-">-</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="60">60</option>
            </select> Minute(n) <br>
        <input type="radio" name="Ausführung" value="Jeden Tag um 'Zahl':'Zahl'" required> Jeden Tag um <input type="time" name="Zeit"> <br>
        <input type="radio" name="Ausführung" value="Immer am 'Stelle/Zahl' des Monats um 'Zahl':'Zahl'" required> Immer am <input type="number" name="tagDesMonats" min="1" max="31">. des Monats um <input type="time" name="Zeit"> <br>
        <input type="radio" name="Ausführung" value="Benutzerdefiniert" required> Benutzerdefiniert
    </div>

    <div class="Boxing">
    <p class="Untertitel">Benachrichtigungen</p>
        <p>Mich per E-Mail benachrichtigen bei</p>
        <input type="checkbox" name="Benachrichtigungen_F"> Fehlschlag des Jobs <br>
        <input type="checkbox" name="Benachrichtigungen_E"> erfolgreichen Abruf nach vorherigem Fehlschlag <br>
        <input type="checkbox" name="Benachrichtigungen_D"> automatischer Deaktivierung wegen zu vieler Fehlschläge
    </div>

    <div class="Boxing">
    <p class="Untertitel">Allgemein</p>
        <input type="checkbox" name="Antworten_speichern"> Antworten speichern
    </div>

    <br>

    <input type="submit" value="Erstellen" class="Submit">

</form>

</body>
</html>