<!-- class="passButton" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "MyApp/style.css" %}">
    <script src="{% static "MyApp/base.js" %}"></script>
    <title>Create a Cron-Job</title>
</head>
<body id="Body" class="Homepage">

{% if user.is_authenticated %}

        <!-- Hamburger Menu -->

    <div id="HM">
	<nav>
		<div id="menuToggle">
			<input class="hmInput" type="checkbox" />
				<span class="hmIcon"></span>
				<span class="hmIcon"></span>
				<span class="hmIcon"></span>
			<ul id="menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="{% url 'createjobs' %}">Create a Cron-Job</a></li>
                <li><a href="{% url 'myjobs' %}">My Cron-Jobs</a></li>
                <li><a href="{% url 'password_reset' %}">Change Password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <!-- Night Mode Switch -->
                <label class="nightMode">
                    <input type="checkbox" id="Night" onclick="nightMode()">
                    <span class="slider round"></span>
                    <img src="https://img.icons8.com/cotton/2x/sun--v2.png" alt="Sun" id="Sun">
                </label>
			</ul>
		</div>
	</nav>
	</div>

    <!-- Titel -->

    <div class="align">

    <h1 class="überTitelHomepage">Welcome {{ user.username }}!</h1>
    <h2 class="überTitelHomepage">Do you want to create or see your Cron-Jobs?</h2>

    <!-- Boxen -->

        <div class="buttonDiv">
            <p class="passButtonCustom"><a href="{% url 'createjobs' %}" class="passButton">Create a Cron-Job</a></p>
            <p class="passButtonCustom"><a href="{% url 'myjobs' %}" class="passButton">My Cron-Jobs</a></p>
        </div>

    </div>

{% else %}

    <!-- Hamburger Menu -->

    <div id="HM2homepage">
	<nav>
		<div id="menuToggle2">
			<input class="hmInput2" type="checkbox" />
				<span class="hmIcon2"></span>
				<span class="hmIcon2"></span>
				<span class="hmIcon2"></span>
			<ul id="menu2">
                <li><a href="/">Homepage</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
                <!-- Night Mode Switch -->
                <label class="nightMode">
                    <input type="checkbox" id="Night" onclick="nightMode()">
                    <span class="slider round"></span>
                    <img src="https://img.icons8.com/cotton/2x/sun--v2.png" alt="Sun" id="Sun">
                </label>
			</ul>
		</div>
	</nav>
    </div>


    <h1>You are not logged in</h1>
    <p>Open menu above for login.</p>


{% endif %}

</body>
</html>